a {
    color: inherit;
    list-style: none;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

header {
    height: 100vh;
    background-color: crimson;
}

nav {
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}


.nav__item:first-child {
    margin-left: 0;
}

.nav__item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    display: block;
}